{#
/**
 * @file
 * Default theme implementation for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - percent: The percentage of the progress.
 * - message: A string containing information to be displayed.
 *
 * @ingroup themeable
 */
#}
<div class="progress" data-drupal-progress>
  <div class="progress__track bar">
    <div class="{{ attributes.class }}" {{ attributes.style }}></div>
  </div>
  <div class="progress__percentage percentage">{{ percent }}%</div>
  <div class="progress__description message">{{ message }}</div>
</div>
