#be-sure-tabs {
  margin-bottom: 20px;
}

body.path-admin .progress .bar .filled.bes-normal {
  background: #e09600 none repeat scroll 0px 0px !important;
}

body.path-admin .progress .bar .filled.bes-warning {
  background: #dc1111 none repeat scroll 0px 0px !important;
}

body.path-admin .progress .bar .filled.bes-success {
  background: #75D351 none repeat scroll 0px 0px !important;
}

.adminimal-theme ul.primary {
  display: block;
  padding-left: 0px;
  padding-right: 0px;
}

.tao #be-sure-tabs li {
  float: left;
}

ul.admin-list li {
  padding-bottom: 30px;
}
